@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


html, body {
    background-color: #5A5353;
    padding: 0;
    margin: 0;
    display: block;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

header{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 15px black;
}

.upper-box{
    background-color: #7EA16B;
    text-align: center;
}
.left{
    color: white;
    float: left;
    width: 50%;
}
#zawartosc{
    padding: 10px;
}
textarea {
    resize: none;
    width: 47vw;
    height: 75vh;
    background-color: white;
    color: #5A5353;
    border:solid 2px black;
  }

  ::-webkit-scrollbar{
    background-color: #7EA16B;
  }
